<h2>About the great rise of toasty!</h2>

<p>The Super Rentals website was created to explore the wonderful world of Ember.js. This project allows us to imagine traveling the world while simultaneously traversing the pathways of the Ember framework!</p>

{{#link-to 'context'}}Click here to hear the fabled tale.{{/link-to}}
{{outlet}}
