<h1>The rise of Toasty</h1>

<p>
  After the defeat of Tom, Toasty rose up as the one true mascot. His fire of hatred still burns at Tom's indiscretion. May the flame of Toasty burn eternal!
</p>
{{#link-to 'about'}}About{{/link-to}}
{{outlet}}
