<h1>YOU CLICKED ON TOASTY!!!?</h1>
<p>We think you crazy, but we think you like toasty.<br>
  That's ok, we do too. Tell them! Tell everyone!! Toasty will reign!!1</p>
  {{#link-to 'index'}}Click here to return to whence you came.{{/link-to}}
